.popup__title {
  font-weight: 900;
  font-size: 18px;
  line-height: 22px;
  margin: 0 0 75px;
}

@media screen and (min-width: 768px) {
  .popup__title {
    font-size: 24px;
    line-height: 29px;
    margin: 0 0 54px;
  }
}
