.popup__container {
  background-color: #FFFFFF;
  color: #000000;
  max-width: 282px;
  padding: 25px 22px;
  position: relative;
  box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.15);
  border-radius: 10px;
  box-sizing: border-box;
}

@media screen and (min-width: 768px) {
  .popup__container {
    max-width: 430px;
    padding: 36px 34px;
  }
}
